---
import Layout from "../../layouts/Layout.astro";
import { addFilm } from "../../../backend/backend.mjs";

let message = "";

if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const response = await addFilm(formData);
    message = response.message;
}

console.log(message);
---

<Layout titre = "Ajouter un film">
    <div class="text-center flex flex-col items-center">
        <h1 class="mt-3 p-3 text-orange-400 font-impact">Ajouter un film</h1>
        <form class="*:placeholder-shown:border-gray-500 flex flex-col *:my-5 *:p-2 " action="/films/add" method="POST" enctype="multipart/form-data">
            <div class="flex flex-col">
                <label class="" for="Nom_F">Nom du film</label>
                <input class="border-1 p-2 rounded" type="text" name="Nom_F" placeholder="Tekken" required />
            </div>
            <div class="flex flex-col">
                <label class="" for="Affiche_F">Choisir une affiche</label>
                <input class="border-1 p-2 rounded" type="file" name="Affiche_F" placeholder="affiche du film" required />
            </div>
            <div class="flex flex-col">
                <label class="" for="BA_F">Lien de la Bande annonce</label>
                <input class="border-1 p-2 rounded" type="url" name="BA_F" placeholder="https://youtube/v/jdjdjd" required />
            </div>
            <div class="flex flex-col">
                <label class="" for="Date_passage_F">Date de passage</label>
                <input class="border-1 p-2 rounded" type="date" name="Date_passage_F" placeholder="Date de passage" required />
            </div>
            <div class="flex flex-col">
                <label class="" for="Categorie_F">Catégorie du film</label>
                <select class="border-1 p-2 rounded" id="Categorie_F" name="Catégorie de film" required>
                    <option value="Action">Action</option>
                    <option value="Surnaturel">Surnaturel</option>
                    <option value="Historique">Historique</option>
              </select>
            </div>
            <div class="flex flex-col">
                <label class="" for="Duree">Durée du film</label>
                <input class="border-1 p-2 rounded" type="number" name="Duree" placeholder="1.05" required />
            </div>
            <div class="flex flex-col">
                <label class="" for="Langage">Langage du film</label>
                <input class="border-1 p-2 rounded" type="text" name="Langage" placeholder="Français" required />
            </div>
            <div class="flex flex-col">
                <label for="Description_F">Description du film</label>
                <textarea class="border-1 p-2 rounded" name="Description_F" rows="5" placeholder="Très bon film" required></textarea>
            </div>
            <div class="bg-orange-300 font-impact test-xl">
                <input type="submit" value="Envoyer" />
            </div>
        </form>
    </div>
</Layout>