---
import Layout from "../layouts/Layout.astro";
import Instagram from "../assets/icons/instagram-icon.svg";
import Facebook from "../assets/icons/facebook-icon.svg";
import Linkedin from "../assets/icons/linkedin-icon.svg";
import Tiktok from "../assets/icons/tiktok-icon.svg";
import Lettre from "../../public/img/lettre.avif";
---

<Layout titre="Contact">
    <main class="text-center">
        <div class="my-12">
            <h1 class="mb-12">Contactez nous !</h1>
            <img class="justify-self-center"
            src={Lettre.src}
            alt="photo de lettre"
            loading="lazy">
        </div>
        
        <div class="my-12 lg:*:flex lg:*:place-content-evenly">
            <h2 class="text-orange-500">Comment nous contacter ?</h2>
            <ul class="*:my-5">
                <li>
                    <h2 class="text-orange-500 font-impact">Mail</h2>
                    <p>VisSport@gmail.com</p>
                </li>
                <li>
                    <h2 class="text-orange-500 font-impact">Téléphone</h2>
                    <p>+33 9 99 99 99 99</p>
                </li>
                <li>
                    <h2 class="text-orange-500 font-impact">Adresse postale</h2>
                    <p>6 Rue du Commandant Rosset<br>25200 Montbéliard<br>France</p>
                </li>
            </ul>
        </div>

        <div class="lg:*:flex lg:*:place-content-evenly">
            <h2 class="">Nos réseaux sociaux</h2>
            <ul class="*:flex *:my-5 *:justify-self-center *:items-center ">
                <li>
                    <a href="https://instagram.com">
                        <Instagram class="size-12 justify-self-center" />
                    </a>
                    <p class="ml-5 text-orange-500">@VisSport_off</p>
                </li>
                <li>
                    <a href="https://twitter.com">
                        <Tiktok class="size-12 justify-self-center" />
                    </a>
                    <p class="ml-5 text-orange-500">@VisSport_off</p>
                </li>
                <li>
                    <a href="https://facebook.com">
                        <Facebook class="size-12 justify-self-center" />
                    </a>
                    <p class="ml-5 text-orange-500">VisSport_off</p>
                </li>
            </ul>
        </div>

        <div class=" mx-2 flex flex-col ">
            <form class="*:my-5" action="#" aria-labelledby="form-title">
                <h3 id="form-title" class="">Formulaire de contact</h3>
                <div class="flex flex-col">
                <label class="" for="nom">Nom</label>
                <input
                    class="border w-fit m-auto rounded p-1 lg:w-1/2"
                    type="text"
                    name="nom"
                    id="nom"
                    placeholder="Toto"
                />
                </div>
                <div class="flex flex-col">
                  <label class="" for="mail">Adresse mail</label>
                  <input
                    class="border w-fit m-auto rounded p-1 lg:w-1/2"
                    type="text"
                    name="mail"
                    id="mail"
                    placeholder="toto@gmail.com"
                  />
                </div>
                <div class="flex flex-col">
                  <label class="" for="sujet">Sujet</label>
                  <input
                    class="border w-fit m-auto rounded p-1 lg:w-1/2"
                    type="text"
                    name="sujet"
                    id="sujet"
                    placeholder="film mauvais"
                  />
                </div>
                <div class="flex flex-col">
                    <label class="" for="message">Message</label>
                    <textarea
                      class="border w-fit m-auto rounded p-1 lg:w-1/2"
                      id="message"
                      name="message"
                      rows="5"
                      placeholder="super film !"
                    ></textarea>
                  </div>
                <button class="border px-4 py-2 rounded bg-orange-500 text-white " type="submit">Envoyer !</button>
              </form>
        </div>
    </main>
</Layout>