---
import Layout from '../layouts/Layout.astro';
import { allFilms, allActivites, allReal, allInvs, getInvs, getActivites } from '../../backend/backend.mjs';
import Carroussel from '../components/Carroussel.astro';
import CarrousselInvite from '../components/CarrousselInvite.astro';
import CarrousselActivites from '../components/CarrousselActivites.astro';
import { getFilms } from '../../backend/backend.mjs';

const films = await getFilms();
const Invs = await getInvs();
const Acts = await getActivites();
const real = await allReal();
// console.log(films);

//const { films } = Astro.props;
// console.log(films);
---

<Layout>
    <div class="text-center">
        <p class="absolute text-white text-4xl font-impact mt-7">Venez vivre l'aventure Vis'Sport À la salle l'Axone !</p>
        <img src="../../public/img/axone.avif" alt="Image d'accueil" class="w-full h-96 object-cover" />
        <p class="text-left font-light text-sm">6rue du Commandant Pierre Rossel, 25200 Montbéliard</p>
        <a href="">Voir sur la carte</a>
    </div>
    <div class="text-center">
        <h2 class="font-impact">Bienvenue au Festival <span class="text-orange">Vis'Sport</span></h2>
        <p>Rendez-vous à l'<b>Axone</b> de <b>Montbéliard</b> pour une immersion cinématographique dédiée au sport ! <b>Vis'Sport</b> célèbre l'esprit de compétition et la persévérance des athlètes à travers des films, débats et rencontres. Passionnés de <b>sport</b> ou de <b>cinéma</b>, ne manquez pas cette fusion unique des deux univers !</p>
    </div>
    <div class="text-center">
        <img src="../../public/img/datesicons.avif" alt="icones de calendrier" />
        <h2>Voici les dates</h2>
        <p>Le <b>Festival Vis'Sport</b> se tiendra du 19 au 21 septembre à l'Axone de Montbéliard ! Trois jours dédiés au <b>cinéma</b> et au <b>sport</b>, avec des films inédits et des moments de partage autour de l'univers <b>sportif</b>.</p>
        <a href="">Billeterie <img src="" alt=""></a>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3">
        <div class="my-12">
            <Carroussel films={films} />
            <a class="text-xl flex m-auto w-46 font-bold text-white bg-black p-3.5 rounded-md border border-solid border-red-600/100" href="/films">Programmation</a>
        </div>
        <div class="my-12">
            <CarrousselInvite Invs={Invs} />
            <a class="text-xl flex m-auto w-46 font-bold text-white bg-black p-3.5 rounded-md border border-solid border-red-600/100" href="/Invites">Invités présents</a>
        </div>
        <div class="my-12">
            <CarrousselActivites Acts={Acts} />
            <a class="text-xl flex m-auto w-56 font-bold text-white bg-black p-3.5 rounded-md border border-solid border-red-600/100" href="/activites">Activités présentes</a>
        </div>
    </div>
</Layout>
