---
import Facebook from '../assets/icons/facebook-icon.svg';
import Instagram from '../assets/icons/instagram-icon.svg';
import Linkedin from '../assets/icons/linkedin-icon.svg';
import Tiktok from '../assets/icons/tiktok-icon.svg';
import Back from '../../public/img/fast-backward.avif';
import Logo from "../../public/img/logo.png";

---

<footer class="bg-black text-white lg:grid mt-12">
    <div>
        <div class="flex items-center gap-7 justify-between">
            <a href="/">
                <img 
                src={Logo.src} 
                class="size-24 "
                alt="Icone de Vis'Sport">
            </a>
            <a class="flex align-center border-2 rounded p-3 mr-12 lg:text-xl" href="/billeterie">
                Billeterie      
                <img 
                src={Back.src} 
                alt="Icone fleche"
                class="size-7 ml-5">
            </a>
        </div>
        <ul class="flex gap-7 ml-7 my-7">
            <li>
                <a href="https://www.instagram.com/">
                    <Instagram class="size-7" />
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/">
                    <Facebook class="size-7" />
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/">
                    <Linkedin class="size-7 fill-white" />
                </a>
            </li>
            <li>
                <a href="https://www.tiktok.com/">
                    <Tiktok class="size-7" />
                </a>
            </li>
        </ul>
        <p class="text-sm font-light my-7 ml-7">6 Rue du Commandant Pierre Rossel, 25200 Montbéliard</p>
        <a class="pl-7 underline decoration-orange-500 lg:self-start" href="/apropos">plus d'info</a>
    </div>
</footer>