---
import Layout from "../../layouts/Layout.astro"; 
import CardActivite from "../../components/CardActivite.astro";
import { getActivite, getActivites } from "../../../backend/backend.mjs";

const {id} = Astro.params;

let message ='';
let acts = [];

acts = await getActivites() || [];

if (!acts){
	return Astro.redirect ('/activites');
}
console.log(acts)
---

<Layout titre=Activités>
    <div class="">
        <h1 class="mb-12 text-center">Liste des activitées</h1>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
            {acts.map((act) => <CardActivite {...act} />)}
        </div>
    </div>

</Layout>